*.iml
.gradle
/scripts/
.kotlin
/local.properties
.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Xcode / iOS
xcuserdata/
*.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/
DerivedData/
